.tasks__task-box {
    border: 1px solid #e74c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}


.tasks__btn-box {
    display: flex;
}

.tasks__btn {
    background-color: #fff;
    margin: 0 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.tasks__btn:hover {
    transform: scale(1.2);
}

.todo {
    background-color: #e74c3c;
    color: #fff;
}

.todo-border {
    border: 1px solid #e74c3c;
}

.done-border {
    border: 1px solid #2ecc71;
}

.done {
    background-color: #2ecc71;
    color: #fff;
}

:host {
    width: 100%;
}