<div class="tasks__task-box fade-in" [ngClass]="{ 'todo-border': !task.done, 'done-border': task.done}">
    <p class="tasks__description">{{ task.content }}</p>
    <div class="tasks__btn-box">
        <button
            (click)="onDone()"
            class="tasks__btn"
            [ngClass]="{ done: task.done, todo: !task.done }"
        >
            <ion-icon name="checkmark-done-sharp"></ion-icon>
        </button>
        <button class="tasks__btn">
            <ion-icon name="create-sharp"></ion-icon>
        </button>
        <button (click)="onDelete()" class="tasks__btn">
            <ion-icon name="trash-sharp"></ion-icon>
        </button>
    </div>
</div>
<!-- *ngFor="let task of tasks" class="tasks__task-box fade-in" [ngClass]="{'todo-border': !task.done}" -->
