.pop-up {
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    background-color: #e74c3c;
    padding: 10px 20px 10px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}

.pop-up__message {
    color: #fff;
}

.close-icon {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}