<section class="tasks fade-in">
    <div class="container">
        <div class="tasks__container">
            <button (click)="onModal()" class="btn btn--create">New</button>

            <app-task-item
                (taskEdit)="onEditBtnClick($event)"
                *ngFor="let task of tasks"
                [task]="task"
                (taskUpdated)="onTaskUpdated()"
            ></app-task-item>
        </div>
    </div>
    <div *ngIf="openModal" class="overlay fade-in">
        <app-task-form [_id]="taskIdForTaskToEdit" (taskCreated)="onTaskCreated()" (modalClosed)="onModal()"></app-task-form>
    </div>
    <app-loading-spinner *ngIf="spinnerActive"></app-loading-spinner>
</section>
