.tasks__new-task {
    min-width: 120px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #97f8c0;
    background-color: #97f8c0;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-start;
}

.btn--create {
    min-width: 100px;
    align-self: flex-start;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}

.tasks__container {
    padding-top: 40px;
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}

.tasks__task-box {
    width: 100%;
    border: 1px solid #e74c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}


.tasks__btn-box {
    display: flex;
}

.tasks__btn {
    background-color: #fff;
    margin: 0 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.tasks__btn:hover {
    transform: scale(1.2);
}

.todo {
    background-color: #e74c3c;
    color: #fff;
}

.todo-border {
    border: 1px solid #e74c3c;
}

.done {
    background-color: #2ecc71;
    color: #fff;
}

