/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

body {
	position: static !important;
	overflow: auto !important;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    font-size: 16px;
    padding: 7px;
    background-color: #2ecc71;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: border 0.2s ease-in;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    border: 2px solid #333;
    font-weight: bold;
}

.form {
    max-width: 500px;
    width: 100%;
    padding: 30px 20px;
    /* border: 1px solid #333; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto 10px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}

.form__input-box {
    position: relative;
    border-radius: 5px;
}

.form__input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #333;
}

.form__redirect {
    font-size: 13px;
}

.form__error-message {
    font-size: 13px;
    color: #e74c3c;
}

.close-icon {
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.fade-in {
  opacity: 0; /* Start with opacity 0 to make it invisible */
  animation: fadeInAnimation 0.2s ease-in-out; /* Animation name, duration, and easing */
  animation-fill-mode: forwards; /* Keep the final state after animation */
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; /* Start from opacity 0 */
  }
  to {
    opacity: 1; /* End at opacity 1 */
  }
}

app-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}